*{
    padding: 0;
    margin: 0;
}

html{
    overflow-x: hidden;
    overflow-y: hidden;
}
.maintext{
    color: beige;
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-top: 20%;
    margin-left: 40vw;
    z-index: 1;
}
.nexttext{
    color: rgb(177, 198, 255);
    font-size:xx-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight:bolder;
    margin-left: 50%;
    z-index: 1;
}


body{
    background-image: url(../images/Background.avif);
    display: inline-block;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: absolute;
    padding: 0;
    margin: 0;
    background-size: cover;
}

.planetarybodies{
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#Blackhole{
    background-image: url(../images/Blackhole.gif);
    margin-top: 10%;
    left: 80%;
    width: 100px;
    height: 100px;
    animation:blackholemotion 10s linear infinite;
    z-index:-1;
}

#GasGiant{
    background-image: url(../images/GasGiant.gif);
    width: 20vw;
    height: 20vw;
    animation:GasGiantmotion 10s linear infinite;
    z-index:-1;
}

#Islands{
    background-image: url(../images/Islands.gif);
    width: 20vw;
    height: 20vw;
    top: -5vw;
    left: 60vw;
    animation:Islandsmotion 5s linear infinite;
    z-index:-1;
}

#star{
    background-image: url(../images/Star.gif);
    top:-30vw;
    right:-25vw;
    width: 25vw;
    height: 15vw;
    animation:starmotion 10s linear infinite;
    z-index:-1;
}


@keyframes GasGiantmotion {
    0%  {transform:translate(-100px, 300px);}
    100%{transform:translate(400px, -1000px);}
}
@keyframes Islandsmotion{
    0%  {transform:rotate(180deg);}
    100%{transform:translate(-1000px, 10px);}
}
@keyframes starmotion{
    0%  {transform:rotate(90deg)}
    100%{transform:rotate(360deg);}
}
@keyframes blackholemotion{
    0%  {transform:scale(0.5);}
    100%{transform:scale(3.0);}
}
